#pic{
    width: 300px;
    height: 300px;
}

#pic1{
    width: 300px;
    height: 300px;
}

#pic2{
    width: 300px;
    height: 300px;
}

img{
    width: 300px;
    height: 300px;
}
}